body {
  margin: 0;
  background: #eee;
}

a,
p,
h1,
h2,
h3,
button,
input,
small {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  margin: 0;
  color: #fecdff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

header p {
  color: #eee;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

header {
  /* background-color:#0044ffc9; */
  background-image: linear-gradient(to right bottom, #0044ff, #0044ffc9);
  padding: 20px;
  text-align: center;
}

.container {
  padding: 30px;
  text-align: center;
}

#answer {
  font-size: 2rem;
}

input[type=number] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=number]:focus {
  border-color: #999;
}

input[type=time] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=time]:focus {
  border-color: #999;
}

button {
  padding: 5px 15px;
  background-color: #b333ef;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  padding: 5px 15px;
  background-color: #5f217b;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.em {
  font-weight: 600;
}

footer {
  text-align: center;
  margin: 100px 0 50px 0;
}

footer a {
  text-align: center;
  margin: 0;
  color: #fecdff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  color: #333;
}

footer a:hover {
  color: #0044ff;
  text-decoration: none;
}

footer p {
  font-weight: 100;
  font-size: 0.8rem;
}